*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #616161;
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    background: linear-gradient(to right, #9bc5c3, #616161);

    
    padding: 1rem;
    
}

.nav-menu{
    display: flex;
    list-style-type: none;
    gap: .5rem;

}

.nav-link{
    text-decoration: none;
    color: black
}

.productos-conteiner{
    min-height: 50vh;
    display: grid;
    place-items: center;
}

/*Main*/

.warm-background {
    background: #D3D3D3;

  }
  

/*Footer*/
.footer {
    background: #616161;
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    background: linear-gradient(to right, #9bc5c3, #616161);
    padding: 20px 0;
    text-align: center;
    
}

a {
    text-decoration: none; 
    color: inherit; 
}

a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none; 
    color: inherit; 
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
}

.redes-sociales img {
    width: 40px; 
}

.frase {
    margin-top: 10px;
    font-style: italic;
    font-size: 24px; 
    color: #555; 
}

.destacado {
    font-weight: bold; 
    color: hsla(312, 100%, 50%, 0.445); 
}

  